* {
    box-sizing: border-box;
}

html {
    font-family:impact;
   
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    margin: 0 0 0.05em;
}

.canvas-container{
    border: 1px solid;
    height: var(--canvas-container-height);
    width:var(--canvas-container-width);
    margin: auto;
    cursor:crosshair;
}
img {
    width: 100%;
}

