/* status helpers */
.hidden {
    display: none
}


/* flex helpers */

.flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}
.flex.start {
    justify-content: start;
}


.flex.align-center {
    align-items: center;
}

/* list helpers */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

/* section helpers */

.colored-section {
    background-color: var(--clr0);
}
