.main-layout {
    display: grid;
    grid-template-rows:
        100px 
        minmax(auto, var(--site-hight))
        200px;

    min-height: 100vh;
}

.main-header {
    grid-row: 1
}

.main-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, 200px));
    grid-auto-flow: dense;
}

.main-editor-layout {
    grid-row: 2;
    padding: 60px;

}

.main-footer {
    grid-row: 3;
}


