/* MOBILE ONLY */

@media (max-width: 640px) {
    :root{
        --canvas-container-height:300px;
        --canvas-container-width:300px;
    }
.main-gallery {
    justify-content: space-around
}
}

/* SMALL */

@media (min-width: 640px) {
	body{ 
    
        font-size: 1rem;   
    }
    .main-gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 400px));
        grid-auto-flow: dense;
    }
	
}


/* MEDIUM */

@media (min-width: 860px) {
    :root{ 
        font-size: 1rem;   
    }

	.editor-grid-container{
        display: grid;
        grid-template-columns: var( --canvas-container-width) 1fr;
        gap: 30px 40px;    
     }  
}

/* LARGE */
@media screen and (min-width: 1100px) {
    
.editor-grid-container{
    display: grid;
    grid-template-columns: var( --canvas-container-width) 1fr;
    gap: 30px 40px;
    
 }

 .main-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 600px));
    grid-auto-flow: dense;
}

.gallery-tool-box{
    background-color: var(--clr0);
    flex-direction: row;
}
.gallery-tool-box .keyword-container{
    cursor:pointer;
    flex-direction: row;
}

}